{
    "network": "tcp",
    "host": "127.0.0.1",
    "port": "5000",
    "mime": "text/plain; charset=UTF-8",
    "directory": ".",
    "methods": ["GET", "HEAD"],
    "commands": {
        "cat": ["--help"],
        "grep": ["--help"],
        "ls": ["--help"]
    }
}
