ca:
  bits: 4096
  years: 1
  months: 0
  days: 0
  key: /path/to/ca/key.pem
  certificate: &ca_certificate /path/to/ca/certificate.pem

server:
  network: tcp
  host: 127.0.0.1
  port: 5000
  domain: localhost
  read_timeout: 5
  write_timeout: 5
  idle_timeout: 60
  ca_certificate: *ca_certificate
  server_key: /path/to/server/key.pem
  server_certificate: /path/to/server/certificate.pem
  directory: /home/enindu/Work/Go/Self/httpsh/
  mime: text/plain; charset=UTF-8
  methods:
    - GET
    - HEAD
  executables:
    cat:
      - --help
    grep:
      - --help
    ls:
      - --help
